*{box-sizing: border-box;}

body {
  background: #B22222;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  margin: auto;
}

h1, h2, h3, h4 {
  color: #000080;
  font-family: 'Ovo', serif;
}

h1 {
  font-size: 8em;
}

h2 {
  padding-right: 2em;
}

#header {
  background-image: url(../images/flag.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  padding-left: 30em;
  padding-top: 12em;
  height: 100vh;
  width: 100vw;
  color: #000080;
}

#headerText {
  position: absolute;
  top: 0;
  right: 0;
}

span {
  content: "\2193";
  text-align: center;
}

.main {
  padding: 1em;
}

#history {
  width: auto;
  height:100vh;
  color: #000080;
  background-color: #FFF;
  font-size: 1.5em;
}

#culture {
  width: auto;
  height:100vh;
}

.grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-column-gap: 250px;
}

#humanrights {
  width: auto;
  height:100vh;
}

#container {
  width: 100%;
  margin: auto;
}

#freedom {
  border: 3px solid;
  padding: 0.5em;
}

#detentions {
  border: 3px solid;
  padding: 0.5em;
}

#prisoners {
  border: 3px solid;
  padding: 0.5em;
}

#travel {
  border: 3px solid;
  padding: 0.5em;
}

#execution {
  border: 3px solid;
  padding: 0.5em;
}

#text {
  padding: 1em;
}

#video {
  text-align: center;
}
